* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.block {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #e0e0e0;
  margin-bottom: 10px;

}

.inline {
  display: inline;
  padding: 5px;
  background-color: #ffcc00;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flex-item {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  margin-right: 10px;
  flex-grow: 1;
}